.allCards {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
}

.allCards img {
    margin: 5px;
    border: 1px solid rgba(356);
    height: 200px;
    width: 200px;
    object-fit: scale-down;
    background-color: white;
}